.scrollable-list-patients {
    height: 600px;
    overflow-y: auto;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 10px;
    background-color: #ffffff;
  }

  .rectangle {
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
    font-weight: bold;
  }

  .button-patient-option {
    width: 150px;
    height: 150px;
  }

  .button-new-patient {
    width: 100%;
    height: 40px;
    background-color: #22bbd6;
    color: white;
    font-size: 1.5rem;
    text-align: center; 
    border-radius: 10px;
    margin-bottom: 0px;
  }

  .patients-menu {
    display: inline-grid;
    width: 100%;
    align-items: center;
  }

  .patients-menu-selected {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /*Or simply : 1fr 1fr 1fr*/
  }

  .patient-name {
    text-align: center;
    font-size: 40px;
  }

  .introduction-text {
    text-align: center;
    font-size: 30px;
    color:rgb(153, 153, 153);
  }

  .patient-name.unselected {
    color:#ffffff;
  }

  .rectangle.unselected {
    background-color:gray;
  }

  .patient-info {
    display:flex;
    gap: 50px;
    text-align: center;
  }

  .search-bar {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: rgb(238, 238, 238);
  }