@tailwind base;
@tailwind components;
@tailwind utilities;

/* Todo lo común a todas las páginas */
.App {
  background: linear-gradient(135deg, white, #d8f6ff);
}

.app {
  font-family: Arial, sans-serif;
  padding: 40px;
  min-height: 700px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #effbff;
}

.left-section {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
}

.nav-button {
  background: transparent;
  border: none;
  color: #005779;
  font-size: 1em;
  cursor: pointer;
  padding: 5px 10px;
  transition: color 0.3s;
}

.nav-button:hover {
  color: #0080b3;
}

.right-section {
  display: flex;
  gap:30px;
  align-items: center;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%; 
  cursor: pointer;
}

.sub-banner {
  padding: 10px 20px;
  background-color: #d8f7ff;
  color: #002b3f;
  font-size: 0.9em;
}

.content {
  padding: 20px;
}

.footer {
  display: flex;
  justify-content: flex-start;
  padding: 10px 20px;
  background-color: #d8f6ff;
}

.footer-nav {
  display: flex;
  gap: 15px;
}

.footer-button {
  background: transparent;
  border: none;
  color: #005779;
  font-size: 1em;
  cursor: pointer;
  padding: 5px 10px;
  transition: color 0.3s;
}

.footer-button:hover {
  color: #0098b3;
}

.rights-sub-banner {
  padding: 10px 20px;
  background-color: #e9eeef;
  color: #666666;
  font-size: 0.9em;
  text-align: left;
  border-top: 1px solid #cccccc;
}

/* A partir de aquí, todo lo relacionado con componentes */

/* Sección de fecha y listas */
.filter-section {
  padding: 20px;
}

.date-fields {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.date-field {
  display: flex;
  flex-direction: column;
}

.date-input {
  padding: 8px 12px;
  font-size: 1em;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
}

.list-sections {
  display: flex;
  gap: 20px;
}

.list-container {
  width: 100%;
}

.list-container h3 {
  margin-bottom: 10px;
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
}

.scrollable-list {
  max-height: 150px;
  overflow-y: auto;
  border: 1px solid #dddddd;
  padding: 10px;
  background-color: #f9f9f9;
}

.list-item {
  padding: 8px 0;
  cursor: pointer;
  transition: background-color 0.2s;
}

.list-item:hover {
  background-color: #f1f1f1;
}

.list-item.selected {
  background-color: #ccf1ff;
  color: #0696af;
}

.scrollable-list::-webkit-scrollbar {
  width: 8px;
}

.scrollable-list::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 4px;
}

.secondary-txt {
  color:#c0c0c0;
  padding-left: 10px;
}

/* Sección de tabla */

.tabs {
  display: flex;
  width: 100%;
  justify-content: left;
}

.tab-button {
  padding: 10px 20px;
  margin: 0;
  background: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-bottom: 3px solid transparent;
}

.tab-button.active {
  border-bottom: 3px solid #7edaff;
  background: #ecfdff;
}

.table-container {
  overflow-x: auto;
  max-height: 600px;
  margin-bottom: 20px;
}

table {
  justify-content: left;
  width: 100%;
  background-color: white;
  border-collapse: collapse;
}

.btn-add{
  justify-content: left;
  width: 100%;
  height: 50px;
  font-size: 36px;
  background-color: white;
  border-color: #8ee8ff;
  color: #8edfff;
}

th, td {
  flex-direction: row;
  padding: 10px;
  border: 1px solid #8edbff;
  text-align: center;
}

th, .table-header {
  background-color: hsl(199, 82%, 40%);
  color: white;
}

.action-btn {
  margin: 0 5px;
  padding: 5px 10px;
  background-color: #009ac1;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.action-btn:hover {
  background-color: #56c1ff;
}

.input {
  border-color:transparent;
  justify-items: center;
  box-shadow: none;
}

.input-edit {
  border-color:white;
  justify-items: center;
  box-shadow: none;
}

.button-bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.btn {
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  cursor: pointer;
}

.btn.red {
  background-color: #d94f4f;
  padding: 20px 30px;
}

.btn.red:hover {
  background-color: #c92c2c;
}

.btn.green {
  background-color: #5cb85c;
  padding: 20px 30px;
}

.btn.search {
  background-color: #8de7f7;
  padding-left: 20px;
  padding-right: 20px;
  height: 50px;
  margin-top: 10px;
}

.btn.green:hover {
  background-color: #4cae4c;
}

/* Ventana de confirmación */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background-color: white;
  padding: 20px;
  width: 300px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.modal p {
  font-size: 1.2em;
  color: #333;
  margin-bottom: 20px;
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
}

.confirm-button, .cancel-button {
  padding: 8px 16px;
  font-size: 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.confirm-button {
  background-color: #4CAF50;
  color: #fff;
}

.cancel-button {
  background-color: #f44336;
  color: #fff;
}

.open-modal-button {
  padding: 10px 20px;
  font-size: 1em;
  margin-top: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}
select:focus {
  border-color: #007BFF;
}

/* Contenedor principal */
.listado-pacientes-container {
  display: flex;
  justify-content: space-between;
}

/* Margen izquierdo */
.listado-pacientes-left {
  flex: 1;
  margin-right: 20px;
}

.search-bar {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.patients-list-container {
  background-color: #ffffff;
  border: 1px solid rgb(212, 212, 212);
  padding: 10px;
  width: 100%;
  border-radius: 8px;
  vertical-align: top;
}

.patients-list {
  list-style-type: none;
  padding: 0;
}

.patient-item {
  padding: 10px;
  cursor: pointer;
  background-color: white;
  border: 1px solid #ccc;
  margin-bottom: 5px;
  border-radius: 4px;
}

.patient-item.selected {
  background-color: #d0e7ff;
}

/* Margen derecho */
.listado-pacientes-right {
  flex: 1;
  margin-left: 20px;
  border: 1px solid #ccc;
  margin-top:50px;
  border-radius: 8px;
  text-align: center;
  background-color: white;
}

.button-evolucion {
  padding: 10px 20px;
  margin: 10px 5px;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  cursor: pointer;
  color: white;
  background-color: #007bff;
}

.button-gestionar-datos {
  padding: 10px 20px;
  margin: 10px 5px;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  cursor: pointer;
  color: white;
  background-color: #28a745;
}

.button-aniadir-sesion{
  padding: 10px 20px;
  margin: 10px 5px;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  cursor: pointer;
  color: white;
  background-color: #e0b336;
}



/* Contenedor principal */
.nueva-sesion-container {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  font-family: Arial, sans-serif;
}

/* Título principal */
.titulo {
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Línea delimitadora */
.linea-delimitadora {
  border: none;
  border-top: 2px solid black;
  margin: 20px 0;
}

/* Sección de campos */
.seccion-campos {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 20px 0;
  align-items: flex-start;
}

.importar {
  float: right;
  display:flexbox;
  text-align: center;
  margin-right: 50px;
  margin-top:10px;
}

/* Dropdown */
.dropdown {
  width: 100%;
  padding: 10px 30px 10px 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Botón de selección de fecha */
.boton-fecha {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.boton-fecha:hover {
  background-color: #0056b3;
}

/* Botón importar datos */
.boton-importar {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #28a745;
  color: white;
  font-size: 1.5rem;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.boton-importar:hover {
  background-color: #218838;
}

/* Nombre del archivo */
.nombre-archivo {
  font-size: 0.9rem;
  color: #555;
  word-break: break-all;
}

/* Botón de crear sesión */
.boton-crear-sesion {
  padding: 15px 30px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.boton-crear-sesion:hover {
  background-color: #218838;
}


/* Contenedor principal */
.usuario-detalle-container {
  width: 80%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  text-align: center;
}

/* Título */
.titulo {
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Contenedor de secciones */
.contenedor-secciones {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

/* Sección izquierda */
.seccion-izquierda {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}

/* Campo */
.campo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.campo h3 {
  margin-bottom: 10px;
}

/* Sección derecha */
.seccion-derecha {
  flex: 2;
}

/* Card Tremor */
.tremor-Card {
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Title Tremor */
.tremor-Title {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #333;
}