.App {
  background: linear-gradient(135deg, white, #d8f6ff);
}

.app {
  font-family: Arial, sans-serif;
  padding: 40px;
  min-height: 800px;
}

.main-title{
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: bolder;
  text-align: center;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  padding-bottom: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #effbff;
  z-index:1;
}

.rectangle {
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #ffffff;
  font-weight: bold;
}

.non-bg-rectangle {
  border: 3px solid #000000;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

.left-section {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.nav-button {
  background: transparent;
  border: none;
  color: #005779;
  font-size: 1em;
  cursor: pointer;
  padding: 5px;
  transition: color 0.3s;
}

.nav-button:hover {
  color: #0080b3;
}

.right-section {
  display: flex;
  gap:30px;
  align-items: center;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%; 
  cursor: pointer;
}

.sub-banner {
  padding: 10px 20px;
  background-color: #d8f7ff;
  color: #002b3f;
  font-size: 0.9em;
}

.content {
  padding: 20px;
}

.footer {
  display: flex;
  justify-content: flex-start;
  padding: 10px 20px;
  background-color: #d8f6ff;
}

.footer-nav {
  display: flex;
  gap: 15px;
}

.footer-button {
  background: transparent;
  border: none;
  color: #005779;
  font-size: 1em;
  cursor: pointer;
  padding: 5px 10px;
  transition: color 0.3s;
}

.footer-button:hover {
  color: #0098b3;
}

.rights-sub-banner {
  padding: 10px 20px;
  background-color: #e9eeef;
  color: #666666;
  font-size: 0.9em;
  text-align: left;
  border-top: 1px solid #cccccc;
}

.list-sections {
  display: flex;
  gap: 20px;
}

h3{
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: bold;
}

.list-container {
  margin-bottom: 10px;
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
}

.scrollable-list {
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 10px;
  background-color: #ffffff;
}

.long-scrollable-list {
  min-height: 300px;
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 10px;
  background-color: #ffffff;
}

.scrollable-list::-webkit-scrollbar {
  width: 8px;
}

.scrollable-list::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 4px;
}

.list-item {
  padding: 8px 0;
  cursor: pointer;
  transition: background-color 0.2s;
}

.list-item:hover {
  background-color: #f1f1f1;
}

.list-item.selected {
  background-color: #ccf1ff;
  color: #0696af;
}

.input {
  border-color:transparent;
  justify-items: center;
  box-shadow: none;
}

select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

select:focus {
  border-color: #007BFF;
}